#container div {
  width: 150px;
  height: 150px;
  background-color: blueviolet;
}

#container div:nth-child(even) {
  background-color: yellow;
}

#container #box-02 {
  position: relative;
  top: 100px;
}

#wrapper div {
  width: 150px;
  height: 150px;
  background-color: slategrey;
}

#wrapper div:nth-child(even) {
  background-color: salmon;
}

#wrapper #box-02 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#wrapper {
  position: relative;
  background-color: aliceblue;
}

#product {
  position: relative;
  border: 1px solid black;
}

#product p {
  position: absolute;
  top: 0px;
  left: 10px;
}

#navbar {
  background-color: antiquewhite;
  height: 50px;
  position: sticky;
  top: 10px;
  width: 100%;
}
