#container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: antiquewhite;
  height: 300px;
}

#parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#parent div {
  background-color: gray;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parent div:nth-child(odd){
    background-color: yellow;
}
